# Environments
.env


# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
venv/
env/
ENV/
env.bak/
venv.bak/

# Logs
*.log
app.log

# IDE setup
.vscode/
.idea/
